<div class="container-fluid">
  <div class="menu">
    {{#link-to 'index'}}
    <h3><em>SuperRentals</em></h3>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
         About
         {{/link-to}}
         {{#link-to 'contact'}}
             Contact
             {{/link-to}}
           </div>
         </div>
  <header class="jumborton">
    <h1>Super rentals</h1>
  </header>
  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
